body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
}
/*Solution*/
body{
  display: flex;
  flex-direction: column;
  /* justify-content:space-between; */
}
.header{
  display: flex;
  font-size: 2em;
  font-weight: 900;
  align-items: center;
  padding-left: 1em;
}
.content{
  display: flex;
  flex-grow: 1;
}
.sidebar > ul{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  gap: 1.5em;
}
li > a{
  color: #eee;
  font-size: 1.5em;
  text-decoration: none;
}
.card-content{
  display: flex;
  padding: 2.5em;
  gap: 1.5em;
  flex-wrap: wrap;
}
.card-content>.card{
  padding: 1em;
  font-weight: 700;
  max-width: 300px;
  flex: auto;
}
.sidebar{
  flex-shrink: 0;
}
.footer{
  display: flex;
  justify-content: center;
  align-items: center;
}